@model IEnumerable<ProductVM>

@{
    ViewData["Title"] = "Home Page";
    var detailsRoute = "/Details/{0}";
}

<div class="row">

    @foreach( var product in Model)
    {
        <div class="col-3 mb-4">
            <div class="card h-100">

                <div class="card-header">
                    <h4 class="my-0 font-weight-normal" 
                        style="white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;font-size: 17px;color:steelblue;font-size:23px;">
                        @product.Name
                    </h4>
                </div>

                <img class="card-img-top h-50" src="~/@product.ImagePath" alt="no image" />

                <div class="card-body" style="display: flex;flex-direction: column;justify-content: end;">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:20px; color:#a51313"><b>@product.Price LEI</b> <sub>cu TVA</sub></label>
                        </div>
                    </div>
                    <a href="@string.Format(detailsRoute, product.Id)" class="btn btn-outline-primary w-100">
                        Vezi produsul
                    </a>
                </div>

            </div>
        </div>
    }

</div>







